{% extends "base_generic.html" %}

{% block content %}
	{% if form.errors %}
		<p>Ваше имя пользователя и пароль не совпадали. Пожалуйста, попробуйте еще раз.</p>
	{% endif %}
	{% if next %}
		{% if user.is_authenticated %}
			<p> Вы не имеете доступа к этой странице. Войдите в систему с другими параметрами</p>
		{% else %}
		<p> Войдите в систему, чтобы увидеть эту страницу.</p>
		{% endif %}
	{% endif %}
	<table>
		<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
		<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
		<tr>
			<td><input type="submit" formmethod="post" formaction="{% url 'login' %}"value="Вход" /></td>
			<td><input type="hidden" name="next" value="{{ next }}" /></td>
		</tr>
	</table>
{% endblock %}
