{% extends "base_generic.html" %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th></th>
				<th>ОБЪЕКТ</th>
				<th>НАИМЕНОВАНИЕ</th>
				<th>КОД АТС</th>
				<th>НОМЕР НА СХЕМЕ</th>
				<th>ИНФОРМАЦИЯ</th>
			</tr>
		</thead>
		<tbody>
			{% for mic in mic_list%}
				<tr>
					{% if mic.pk == micid %}
						<td><input type="radio" name="micid" value="{{mic.pk}}" checked></input></td>
					{% else %}
						<td><input type="radio" name="micid" value="{{mic.pk}}"></input></td>
					{% endif %}
					<td> {{ mic.einst }}</td>
					<td> {{ mic.name }} </td>
					<td> {{ mic.code }} </td>
					<td> {{ mic.schnum }} </td>
					<td> {{ mic.info }} </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}