{% extends "base_generic.html" %}
{% block content %}
	<tr><td>{{album.name}}</td></tr>
	<tr><td>{{album.date}}</td></tr>
	<tr><td>
		{% if album.local %}
			{%for fl in filelist%}
				<input type="checkbox" name="imgid" value="{{fl}}"></input>
				<a href="{{album.get_url}}\{{fl}}">
					<img src="{{album.get_url}}\tumbnails\{{fl}}">
				</a>
			{%endfor%}
		{% else %}
			<a href = "{{album.get_url}}" target = "blank">link to mail.ru cloud</a>
		{% endif %}
	</td></tr>
{% endblock %}


