{% extends "base_generic.html" %}
{% block content %}
	<table>
		<tr><th><input type="hidden" name="channelid" value="{{ channel.pk}}"></input></td> </tr>
		<tr><th><input type="hidden" name="dsownerclass" value="{{ ownerclass }}"></input></td> </tr>
		<tr><th><input type="hidden" name="dsownerid" value="{{ channel.pk}}"></input></td> </tr>
		<tr><th>Объект:</th><td> {{ channel.einst_set.first}}</td></tr>
		<tr><th>Наименование:</th><td> {{ channel.name}}</td></tr>
		<tr><th>Принадлежность:</th><td> {{ channel.bl}}</td></tr>
		<tr><th>Тип:</th><td> {{ channel.chtype }}</td></tr>
		<tr><th>CCID:</th><td> {{ channel.ccid }}</td></tr>
		<tr><th>Номер:</th><td> {{ channel.number }}</td></tr>
		<tr><th>IP адрес:порт:</th><td> {{ channel.ip }}</td></tr>
		<tr><th>Оператор:</th><td> {{ channel.operator}}</td></tr>
		<tr><th>Конфигурация:</th><td> {{ channel.config}}</td></tr>
		<tr><th>Информация:</th><td> {{ channel.info}}</td></tr>
		<tr><th>Примечание:</th><td> {{ channel.note }}</td></tr>
	</table>
{% endblock %}   .


