<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<title>ESADB</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	</head>
	<body>
		<form id="navigationform"><table>
			<tr>
				<td><button buttontype="submit" formmethod="get" formaction="{% url 'about'%}">О САЙТЕ</button></td>
				{% if user.is_authenticated %}
					<td><button buttontype="submit" formmethod="get" formaction="/project/">ПРОЕКТЫ</button></td>
					<td><button buttontype="submit" formmethod="get" formaction="/einst/">ОБЪЕКТЫ</button></td>
					{% if user.is_staff %}
						<td><button buttontype="submit" formmethod="get" formaction="/admin/">ADMIN</button></td>
						<td><button buttontype="submit" formmethod="get" formaction="/staff/">STAFF</button></td>
					{% endif %}
					<td><button buttontype="submit" formmethod="get" formaction="{% url 'logout'%}?next={{request.path}}">ВЫЙТИ</button></td>
				{% else %}
					<td><button buttontype="submit" formmethod="get" formaction="{% url 'login'%}?next={{request.path}}">ВОЙТИ</button></td>
				{% endif %}
			</tr>
		</table></form>
		<p>КОНТЕКСТ: {{contextinfo}} &gt; </p>
		<p>ПОЛЬЗОВАТЕЛЬ: {{user.get_username}} &gt; ПРОЕКТ: {{projectname}} &gt; ОБЪЕКТ: {{einstname}}</p>
<!--		<p>СЕССИЯ: {{request.session.items}}</p>
		<p>СТАТУС: {{status}}</p> -->
		<table><tr>
			<td width="20%" valign="top">
			<table>
				{% for name, value in sessiondata.items%}
					<tr><td><input type="hidden" name="{{name}}" value="{{value}}" form="content" ></input></td></tr>
				{% endfor %}
				{% for key, value in contextmenu.items %}
					<tr><td><button type="submit" {{value}} form="content" >{{key}}</button></td></tr>
				{% endfor %}
				{% if is_filtered %}
					<tr><td>Фильтр:
						<select name="filterkey" form="content" >
							{% for key, value in filterkeylist.items %}
								{% if value == filterkey %}
									<option selected value="{{value}}">{{key}}</option>
								{% else%}
									<option value="{{value}}">{{key}}</option>
								{% endif%}
							{% endfor %}
						</select>
					</td></tr>
					<tr><td>
						<table>
							<td><input type="text" size="12" form="content" name="filtervalue" value="{{filtervalue}}"></input></td>
							<td><button type="submit" form="content" formmethod="get">&crarr;</button></td>
							<td><button type="submit" form="content" formmethod="get" name="filterkey" value="" >X</button></td>
						</table>
					</td><tr>
				{% endif %}
				{% if is_paginated %}
					<tr><td>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</td></tr>
					<tr><td>
						<table><tr>
							<td><button buttontype="submit" form="content" formmethod="get" name="page" value="1">&laquo;</button></td>
							{% if page_obj.has_previous %}
								<td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.previous_page_number }}">&lsaquo;</button></td>
							{% else %}
								<td><button buttontype="submit" disabled form="content" formmethod="get" name="page" value="">&lsaquo;</button></td>
							{% endif %}
							<td><input size="3" form="content" formmethod="get" name="page" ></input></td>
							<td><button buttontype="submit" form="content" formmethod="get">&crarr;</button></td>
							{% if page_obj.has_next %}
								<td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.next_page_number }}">&rsaquo;</button></td>
							{% else %}
								<td><button buttontype="submit" disabled form="content" formmethod="get" name="page" value="">&rsaquo;</button></td>
							{% endif %}
							<td><button buttontype="submit" form="content" formmethod="get" name="page" value="{{ page_obj.paginator.num_pages }}">&raquo;</button></td>
						</table></tr>
					</td></tr>
				{% endif %}
			</table>
			</td>
			<td width="80%" valign="top">
				<form id="content" enctype="multipart/form-data">
					<table>
						{% block content %} {% endblock %}
					</table>
					{% csrf_token %} 
				</form>
			</td>
		</tr></table>
	</body>
</html>